.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #5c6d8f;
  height: 50px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
}

.App-logo {
  height: 30px;
  width: 30px; /* Added to restrict the width */
  padding: 10px;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34;
  padding-top: 70px; /* Additional padding to account for fixed header */
}

.App-gear {
  height: 100px;
  animation: spin infinite 20s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
}
